.BoardItem {
  align-items: center;
  border-radius: 100%;
  border: 5px solid;
  color: #bbb;
  display: flex;
  font-size: 24px;
  height: 90px;
  justify-content: center;
  margin: 5px;
  pointer-events: none;
  width: 90px;
}

.BoardItem.is-clickable {
  cursor: pointer;
  pointer-events: auto;
}