.Game {
  display: flex;
}

@media only screen and (orientation: landscape) {
  .Game {
    flex-direction: row;
  }
}

@media only screen and (orientation: portrait) {
  .Game {
    flex-direction: column;
  }
}
