.InfoPanel {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media only screen and (orientation: landscape) {
  .InfoPanel {
    flex-direction: column;
  }
}

@media only screen and (orientation: portrait) {
  .InfoPanel {
    flex-direction: row;
  }
}