.MessageBox {
  align-items: center;
  background: rgba(0,0,0,.8);
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 20px;
  position: fixed;
  right: 20px;
  top: 20px;
}

.MessageBox div {
  font-size: 42px;
}

.MessageBox span {
  opacity: .5;
}