.Start {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.StartTitle {
  color: #fff;
  text-align: center;
}

.StartImage {
  height: 96px;
  width: 96px;
}